<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" 
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>

    <span>Univalle</span>
    <span class="example-spacer"></span> <!--separa en partes el espaciado -->
    <button mat-stroked-button routerLink="/nuevo">Nuevo Estudiante</button>
    <button mat-stroked-button>Asistencia</button>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" 
    aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>