.padre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 198, 173);
    height: 100%;
}

.hijo {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

img {
    display: block; /* Hacer que la imagen sea un bloque para centrarla correctamente */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.boton{
    width: 55%;
}